@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: #00274D; 
  color: #FFFFFF; 
  border: 1px solid #D6A800;
  padding: 10px;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  color: #003366;
}

a:visited {
  color: #660099;
}
